
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]


# Jupyter misc. files
.ipynb_checkpoints
*.ipynb


# data & artifacts
data
runs
*.pth


# Other folders & files
test
temp*
requirements*.txt
!requirements.txt
*.pdf
system*
*.zip

# build files
build
dist
*.spec